@media (min-width: 575px){
    .video{
        margin-top:20px;
        width: 100%;
        height: 400px;
    }

    .photo-column{
        margin-top:20px;
        width: 100%;
        height: 3600px;
    }

}
@media (min-width: 767px){
    .video{
        margin-top:20px;
        width: 100%;
        height: 600px;
    }
    .photo-column{
        margin-top:20px;
        width: 100%;
        height: 1800px;
    }
}
@media (min-width: 991px){
    .video{
        margin-top:20px;
        width: 100%;
        height: 800px !important;
    }
    .photo-column{
        margin-top:20px;
        width: 100%;
        height: 900px;
    }
}

.photo-column{
    display:flex;
}
.photo-sm {
	width: 100%;
	overflow: hidden;
	height: 200px;
	margin-top: 20px;
}

.photo-big{
	width: 100%;
	overflow: hidden;
	height: 480px;
	margin-top: 20px;
}
